{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oops ! Nous avons des problèmes techniques.</h1>

    <p>
        Veuillez nous excuser, nous tentons d'y remédier.<a href="{{ path('homepage') }}">Revenir à l'accueil</a>.
    </p>
{% endblock %}